= render :partial => "layouts/slider"
%h1 Brochure Order Form

.bof
  = image_tag('/images/brochure_order_form.png')

= form_for(@brochure) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :address_1
    = f.text_field :address_1
  .field
    = f.label :address_2
    = f.text_field :address_2
  .field
    = f.label :postcode
    = f.text_field :postcode
  .field
    = f.label :telephone
    = f.text_field :telephone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :package
    = f.text_field :package
  .field
    = f.label :payment
    = f.text_field :payment
  .field
    = f.label :comments
    = f.text_area :comments
  .actions
    = f.submit