- @title = "Nomination form"
= render :partial => "layouts/slider"
%h1#nominate Nomination Form

.form
  = simple_form_for @nomination do |f|
    %fieldset
      .clearfix
        %h3 I would like to nominate:
      .clearfix
        = f.input :name
      .clearfix
        = f.input :company
      .clearfix
        = f.input :address_1
      .clearfix
        = f.input :address_2
      .clearfix
        = f.input :postcode, :input_html => { :width => '100px' }
      .clearfix
        = f.input :telephone
      .clearfix
        = f.input :email
      .clearfix
        = f.input :website
    %fieldset
      .clearfix
        %h3 For the following category:
        .help-block 
          %p (please tick just one box and complete a new form for each award nomination)
      .clearfix
        <div class="input nomcat">
        %label.optionsRadio Category
        <ul class="inputs-list">
        <li>
        <label class="collection_radio long" for="nomination_category_1">
        <input type="radio" id="nomination_category_1" name="nomination[category]" value="Business of the Year">
        <span class="lbl long"><strong>Business of the Year</strong> &mdash; Awarded to an outstanding business whose growth, ambition and quality of management has enabled it to deliver first-class results</span></label>
        </li>
        <li>
        <label class="collection_radio long" for="nomination_category_2">
        <input type="radio" id="nomination_category_2" name="nomination[category]" value="Start-Up of the Year">
        <span class="lbl long"><strong>Start-Up of the Year</strong> &mdash; Awarded to a new business that has been trading for less than 3 years and has already demonstrated the potential to be an outstanding success.</span></label>
        </li>
        <li>
        <label class="collection_radio long" for="nomination_category_3">
        <input type="radio" id="nomination_category_3" name="nomination[category]" value="Business Person of the Year">
        <span class="lbl long"><strong>Business Person of the Year</strong> &mdash; This award will go to an outstanding businessman or businesswoman  who can best demonstrate ambition, energy, skill and vision, as well as tangible business success. This award is open to entrepreneurs who are enjoying success in building their own business, and to those employees who have had an outstanding impact in contributing to the successes of a larger organisation.</span></label>
        </li>
        </ul>
      .clearfix
        %row
          %label.optionsRadio I have notified the company/person that I am nominating
          = f.collection_radio :notified_company, [["Yes", " Yes"], ["No", " No"]], :first, :last
    %fieldset
      .clearfix
        %h3 Nominator's details:
      .clearfix
        = f.input :nom_name, :label => "Name"
      .clearfix
        = f.input :nom_address_1, :label => "Address 1"
      .clearfix
        = f.input :nom_address_2, :label => "Address 2"
      .clearfix
        = f.input :nom_postcode, :label => "Postcode", :input_html => { :width => '100px' }
      .clearfix
        = f.input :nom_telephone, :label => "Telephone"
      .clearfix
        = f.input :nom_email, :label => "Email"
      .clearfix
        .guide In no more than 500 words say why you’re nominating this person or yourself for the award: 
        = f.input :reason, :label => "Reason for nomination", :input_html => { :size => '30x10' }
      .clearfix
        = f.input :hear_about, :label => "Where did you hear about the TrainE-TraidE Business Awards?", :input_html => { :size => '30x5' }
      .clearfix
        .help-block
          %p 
            %strong Note: 
            To make a credit card payment please contact us on <strong>020 8371 3280</strong>. Receipts will be sent to acknowledge your payment.
      .clearfix
        .input.button
          = f.button :submit, :class => "btn large", :value => "Submit Nomination"
      
      .clearfix
        .alert-message.block-message.warning.contactme
          %p If you have any queries please email <a href="mailto:mark.curtis@traine-traide.org.uk">mark.curtis@traine-traide.org.uk</a> or call <strong>020 8371 3280</strong><br><br>
          %p First round nominations open on 17<sup>th</sup> November 2011 and close on <strong>6<sup>th</sup> January 2012</strong>

%p The nominations for the first round open on 17<sup>th</sup> November 2011 and close on 6<sup>th</sup> January 2012. TrainE-TraidE’s Business Awards are all about recognising enterprising individuals across the spectrum of their business development.

%p This is a wonderful opportunity for you to nominate someone who you believe has been really successful in his or her business in a wealth of different ways and at different levels. You could even nominate yourself  - so why not ‘go for it!’

%h1#award-categories Award Categories

%h2 Business of the Year

%p Awarded to an outstanding business whose growth, ambition and quality of management has enabled it to deliver first-class results

%h2 Start-Up of the Year

%p Awarded to a new business that has been trading for less than 3 years and has already demonstrated the potential to be an outstanding success.

%h2 Business Person of the Year

%p This award will go to an outstanding businessman or businesswoman who can best demonstrate ambition, energy, skill and vision, as well as tangible business success. This award is open to entrepreneurs who are enjoying success in building their own business, and to those employees who have had an outstanding impact in contributing to the successes of a larger organisation.

%h2 Business Achievement Award

%p This award is given to a member of the Jewish community for his or her achievement in the field of business. The award is not open for nominations and will be chosen by the panel of judges. This year we are honoured to be presenting the award to Mr Gerald Ronson, CEO of Heron International.

%p.btn-nominate-now
  = link_to image_tag('/images/btn-nominate-now.png'), '#nominate'

%h1#how-it-works How it works

%h2 The Awards

%p TrainE-TraidE’s Business Awards recognise the best businesses and individuals either from within the Jewish community or impacting upon the lives of Jewish people in the UK

%p TrainE-TraidE’s Business Awards are split into four different categories (for a full list of categories see above).

%h2 How do you enter?

%p If you believe that you, your business, or somebody you know deserves a TrainE-TraidE Business Award then please complete the attached nomination form. Judges will look favourably upon nominations from the people who really matter to your business - your customers. You and your business can be nominated in any, or all, of the three categories.

%p First round nominations open on <strong>17<sup>th</sup> November 2011</strong> and close on <strong>6<sup>th</sup> January 2012</strong>. <Please insert “Nominate Now” button here>

%p Coverage will be attained through our media partners the Jewish News.

%p.btn-nominate-now
  = link_to image_tag('/images/btn-nominate-now.png'), '#nominate'

%h2 How are the awards judged?

%p The judging panel is made up of respected members of the Jewish business community, TrainE-TraidE and our sponsors.

%p After the closing date of the first round for entries (6<sup>th</sup> January 2012) the judging panel will select a shortlist of 10 possible winners in each category. These shortlisted companies or individuals will be announced in January on the TrainE-TraidE Business Awards Lunch website and in the press. They will be invited to present to a selection of the judging panel in London during January 2012.  

%p The finalists will be announced two weeks before the awards ceremony with the award winners being announced at TrainE-TraidE’s Business Awards Lunch which will take place on 23<sup>rd</sup> February 2012. Tickets for the event are available by contacting <a href="mailto:mark.curtis@traine-traide.org.uk">mark.curtis@traine-traide.org.uk</a>

%h2 What do you win?

%p Winners of each category win a TrainE-TraidE Business Award plaque presented at the awards ceremony. They will be invited to spend time with a relevant business expert. There will also be publicity and marketing opportunities from being short-listed and winning the award as well as the right to use ‘Winner’ and ‘Finalist’ logos on your own marketing materials.

%p Coverage will be attained through our media partners the Jewish News.

%p.btn-nominate-now
  = link_to image_tag('/images/btn-nominate-now.png'), '#nominate'

%h2#benefits Benefits

%p Nominees and winners of TrainE-TraidE’s Business Awards can look forward to real business and personal rewards:

%ul
  %li Nomination represents validation by the wider business and Jewish communities
  %li Nomination signifies acknowledgement and recognition of hard work, effort and results
  %li There is a real sense of pride in being nominated
  %li ‘Winner’ and ‘Finalist’ logos can be used on all marketing materials to make your business stand out from the crowd
  %li Great promotional value through our media partners, the Jewish News and on the Totally Jewish website.

%p In addition:
%ul
  %li Awards will be presented at TrainE-TraidE’s Business Awards Lunch on 23<sup>rd</sup> Feb 2012
  %li The winners will be celebrated on the TrainE-TraidE Business Awards website and www.totallyjewish.com after the ceremony
  %li Winners will be invited to spend time with an industry expert to help develop and grow themselves or their business

%h2#terms-conditions Terms & Conditions

%p Before making your nomination, please read the following conditions of entry.

%ul 
  %li The closing date for first round entries will be <strong>6<sup>th</sup> January 2012</strong>. Nominations received after that date will not be considered by the judging panel under any circumstances.
  %li Businesses may enter more than one award category although a separate entry form must be completed for each award.
  %li Businesses entering the Awards must be able to show a link to the Jewish community or demonstrate how its work impacts upon the lives of Jewish people in the UK.
  %li The judges' decision is final and no correspondence will be entered into.
  %li Nominations will be treated in the strictest confidence and circulated only to members of the judging panel. All publicity about TrainE-TraidE’s Jewish Business Awards will be co-ordinated through JAM Events on behalf of TrainE-TraidE.
  %li Companies sponsoring awards are not eligible to enter.
  %li Shortlisted finalists will be notified by post or telephone week commencing <strong>13<sup>th</sup> February 2012</strong>.

%p.btn-nominate-now
  = link_to image_tag('/images/btn-nominate-now.png'), '#nominate'

<script type="text/javascript">
$(function(){
$('#lnk-award-categories').click(function(){
$('html, body').animate({ scrollTop: $('#award-categories').offset().top-100 }, 500);
return false;
});
$('#lnk-how-it-works').click(function(){
$('html, body').animate({ scrollTop: $('#how-it-works').offset().top-100 }, 500);
return false;
});
$('#lnk-benefits').click(function(){
$('html, body').animate({ scrollTop: $('#benefits').offset().top-100 }, 500);
return false;
});
$('#lnk-terms-conditions').click(function(){
$('html, body').animate({ scrollTop: $('#terms-conditions').offset().top-100 }, 500);
return false;
});
$('.btn-nominate-now img').click(function(){
$('html, body').animate({ scrollTop: $('#nominate').offset().top-100 }, 500);
return false;
});
});
</script>