= render :partial => "layouts/slider"
%h1 Nomination Form

.form
  = simple_form_for @nomination do |f|
    %fieldset
      .clearfix
        %h3 I would like to nominate: 
      .clearfix
        = f.input :name
      .clearfix
        = f.input :company
      .clearfix
        = f.input :address_1
      .clearfix
        = f.input :address_2
      .clearfix
        = f.input :postcode, :input_html => { :width => '100px' }
      .clearfix
        = f.input :telephone
      .clearfix
        = f.input :email
      .clearfix
        = f.input :website
      .clearfix
        %h3 For the following category:
        .help-block 
          %p (please tick just one box and complete a new form for each award nomination)
      .clearfix
        <div class="input nomcat">
        <ul class="inputs-list">
        <li>
        <label class="collection_radio long" for="nomination_category_1">
        <input type="radio" id="nomination_category_1" name="nomination[category]" value="Business of the Year">
        <span class="lbl long"><strong>Business of the Year</strong> &mdash; Awarded to an outstanding business whose growth, ambition and quality of management has enabled it to deliver first-class results</span></label>
        </li>
        <li>
        <label class="collection_radio long" for="nomination_category_2">
        <input type="radio" id="nomination_category_2" name="nomination[category]" value="Start-Up of the Year">
        <span class="lbl long"><strong>Start-Up of the Year</strong> &mdash; Awarded to a new business that has been trading for less than 3 years and has already demonstrated the potential to be an outstanding success.</span></label>
        </li>
        <li>
        <label class="collection_radio long" for="nomination_category_3">
        <input type="radio" id="nomination_category_3" name="nomination[category]" value="Business Person of the Year">
        <span class="lbl long"><strong>Business Person of the Year</strong> &mdash; This award will go to an outstanding business man or woman  who can best demonstrate ambition, energy, skill and vision, as well as tangible business success. This award is open to entrepreneurs who are enjoying success in building their own business, and to those employees who have had an outstanding impact in contributing to the successes of a larger organisation.</span></label>
        </li>
        <li>
        <label class="collection_radio long" for="nomination_category_4">
        <input type="radio" id="nomination_category_4" name="nomination[category]" value="Business Person of the Year">
        <span class="lbl long"><strong>Business Achievement Award</strong> &mdash; This award is given to a member of the Jewish community for his or her achievement in the field of business. The award is not open for nominations and will be chosen by the panel of judges.</span></label>
        </li>
        </ul>
      .clearfix
        .help-block
          %p 
            %strong Note: 
            To make a credit card payment please contact us on <strong>020 8371 3280</strong>. Receipts will be sent to acknowledge your payment.
      .clearfix
        .input.button
          = f.button :submit, :class => "btn large", :value => "Submit Nomination"
      
      .clearfix
        .alert-message.block-message.warning.contactme
          %p If you have any queries please email <a href="mailto:mark.curtis@traine-traide.org.uk">mark.curtis@traine-traide.org.uk</a> or call <strong>020 8371 3280</strong>