%div{:style => "width:940px;margin:0 0 40px 0"}
  .slider-wrapper.theme-default>
    .ribbon
    #ttlslider.nivoSlider{:style => "width: 940px;height:350px"}
      = image_tag('/images/slideshow/2013/4.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/2.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/3.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/5.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/6.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/7.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/8.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/9.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/2013/1.jpg', :alt => "", :width => "940", :height => "350")