%div{:style => "width:940px;margin:0 0 40px 0"}
  .slider-wrapper.theme-default>
    .ribbon
    #ttlslider.nivoSlider{:style => "width: 940px;height:350px"}
      = image_tag('/images/slideshow/1.jpg', :alt => "", :width => "940", :height => "350", :title => "#ttlslider-caption-0")
      = image_tag('/images/slideshow/2.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/3.jpg', :alt => "", :width => "940", :height => "350", :title => "#ttlslider-caption-3")
      = image_tag('/images/slideshow/4.jpg', :alt => "", :width => "940", :height => "350")
      = image_tag('/images/slideshow/5.jpg', :alt => "", :width => "940", :height => "350", :title => "#ttlslider-caption-5")
    #ttlslider-caption-0.nivo-html-caption
      Nominate your favourite business
    #ttlslider-caption-3.nivo-html-caption
      TrainE-TraidE Business Awards Lunch 2010, Millennium Hotel, London
    #ttlslider-caption-5.nivo-html-caption
      Business Award Winners 2010 with Mick Davis and Shraga Zaltzman, Managing Director, TrainE-TraidE